[core]
	excludesfile = ~/.config/git/ignore
	autocrlf = input
[user]
	name = Anna
	email = git@anna.lgbt
	signingkey = 4BFBF44FD7CD376B611FA641D0943384CD9F87D1
[commit]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[diff "gpg"]
	textconv = gpg --no-tty --decrypt
[color]
	ui = auto
[pull]
	rebase = false
[init]
	defaultBranch = main
